
body {
  padding-top: 30pt;
  padding-left: 30pt;
}

.caption {
    height: 150pt;
    overflow: hidden;
}


.thumbnail img {
    width: 80%;
}


.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {

}
